<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Introduction</title>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Raleway:wght@400;600&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="styles/navbar.css" />
  <link rel="stylesheet" href="styles/theme.css" />
  <link rel="stylesheet" href="styles/introduction.css">
</head>

<body>
  <%- include("partials/nav-up.ejs") %>
  <div class="page-content">

    <div class="container">
      <div class="nav-wrapper">
        <div class="left-side">
          <div class="gallery-title">
            <h1 class="main_heading">Introduction</h1>
          </div>
        </div>
      </div>
      <div class="wrpr">
        <!-- add page content here -->
        <% for(var i=0;i<len;i++){ %>
        <figure class="snip1376">
          <img src="<%= data[i].image%>" alt="sample17" />
          <figcaption>
            <h2><%= data[i].name%></h2>
            <p>            <p><%= data[i].hobbies%>

            </p>
            <p>            <p>"<%= data[i].image%>"

            </p>
            <div class="icons"><a href="https://www.instagram.com/">
                <i class="ion-social-instagram-outline"></i></a>
              <a href="https://www.linkedin.com/in/"> <i class="ion-social-linkedin-outline"></i></a>
              <a href="https://www.facebook.com/"> <i class="ion-social-facebook-outline"></i></a>
              <a href="https://www.github.com/"> <i class="ion-social-github-outline"></i></a>
              <a href="https://twitter.com/"> <i class="ion-social-twitter-outline"></i></a>
            </div>
          </figcaption>

        </figure>



        <% } %>
      </div>
    </div>
    <div id="formLink">

      <a href="/form">ADD NEW</a>
    </div>
  </div>
  <%- include("partials/nav-down.ejs") %>
  <script src="scripts/introduction.js"></script>
</body>

</html>